<ul>
	<li>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut vitae numquam, veniam illo reiciendis, fuga deserunt. Ex
		odio, ipsa cupiditate at magni amet illo voluptate odit nisi facilis, rerum, eum.
	</li>
	<li>
		Illo nemo aliquam alias ducimus amet sed laboriosam, eveniet minima ullam culpa voluptate non nulla ab quo dignissimos
		optio beatae praesentium, velit saepe, soluta iste quia distinctio consequatur officia! Praesentium.
	</li>
	<li>
		Nulla voluptates ut, ipsa dolorem exercitationem facere sapiente incidunt eos commodi iste minima temporibus quos cupiditate
		ducimus, qui laudantium. Aut sapiente excepturi dolorum, ipsum maiores, unde sed laboriosam illum eveniet.
	</li>
</ul>

<form action="/go" method="post">
	<div class="row">
		<div class="col-md-4">
			<input type="date" name="firstName" id="firstName">
		</div>
	</div>
</form>
